// app global css

body
  background rgba(0,255,255,0.2)

@font-face {
  font-family: 'autorich';
  font-style: normal;
  font-weight: 400;
  src: url('~assets/fonts/autorich_sans-webfont.woff2') format('woff2'),
    url('~assets/fonts/Quart-Regular.woff') format('woff');
}
h5, h4, h3, h2, .q-table__title
  font-family 'autorich'
  line-height 1em!important
  margin 0!important
  text-transform lowercase

h4
  margin 10px!important

h3
  text-transform uppercase!important
